#card, #card-hidden, #card-red, #card-hidden-red {
    border: 3px solid #000000;
    display: inline-block;
    padding: 5px;
    width: 90px;
    height: 135px;
    border-radius: 10px;
    margin-right: 5px;
}

#card, #card-red {
    background-color: #FFFFFF;
}

#card-hidden, #card-hidden-red {
    background-color: #0095FF;
}

#card, #card-hidden {
    color: #000000;
}

#card-red, #card-hidden-red {
    color: #FF0000;
}

#card #numL, #card-hidden #numL, #card-red #numL, #card-hidden-red #numL {
    display: block;
    font-size: 28px;
    margin-left: 5px;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
}

#card #numR, #card-hidden #numR, #card-red #numR, #card-hidden-red #numR {
    display: block;
    font-size: 28px;
    margin-right: 5px;
    text-align: right;
    font-family: 'Varela Round', sans-serif;
}

#card #suit, #card-hidden #suit, #card-red #suit, #card-hidden-red #suit {
    display: block;
    font-size: 80px;
    text-align: center;
    margin: -10px;
}

#card #numL, #card #numR, #card #suit, #card-red #numL, #card-red #numR, #card-red #suit {
    visibility: visible;
}

#card-hidden #numL, #card-hidden #numR, #card-hidden #suit, #card-hidden-red #numL, #card-hidden-red #numR, #card-hidden-red #suit {
    visibility: hidden;
}