#card, #card-red {
    border: 3px solid #000000;
    display: inline-block;
    padding: 5px;
    width: 90px;
    height: 135px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #FFFFFF;
}

#card {
    color: #000000;
}

#card-red {
    color: #FF0000;
}

#card.hidden, #card-red.hidden {
    background-color: #0095FF;
}

#numL {
    display: block;
    font-size: 28px;
    margin-left: 5px;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
}

#numR {
    display: block;
    font-size: 28px;
    margin-right: 5px;
    text-align: right;
    font-family: 'Varela Round', sans-serif;
}

#suit {
    display: block;
    font-size: 80px;
    text-align: center;
    margin: -10px;
}

#numL, #numR, #suit {
    visibility: visible;
}

.hidden #numL, .hidden #numR, .hidden #suit {
    visibility: hidden;
}

#slotMachine {
    display: inline-block;
}

#slotMachine div {
    width: 86px;
    height: 70px;
    display: inline-block;
    background-image: url("https://odhyan.com/slot/images/reel_normal.png");
    background-repeat: repeat-y;
    margin: -3px;
    background-position-y: 0px;
}